# Ignore docs files
_site
.jekyll-metadata
.ruby-version
.vscode

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~
# *.lock

# OS or Editor folders
.asset-cache
.cache
.DS_Store
.project
.sass-cache
.settings
.tmproj
*.scssc
Thumbs.db
# Folders to ignore
node_modules
public
resources
