::selection {
  background: rgba($color-secondary, 0.75);
  color: $color-text-inverse;
  text-shadow: none;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: text-bottom;
}

ol,
ul {
  list-style-position: outside;
}

figure {
  margin-top: 1.77778em;
  margin-bottom: 1.77778em;
  text-align: center;
}

figure:first-child {
  margin-top: 0;
}

figure:last-child {
  margin-bottom: 0;
}

figcaption {
  font-size: 0.8em;
  margin-top: 0.875em;
}

hr {
  margin: ($lh * 2) 0;
  height: 0.13169em;
  border: none;
  width: 100%;
}

hr::before {
  content: "***";
  color: $color-primary;
  display: block;
  font-weight: 900;
  letter-spacing: 0.5em;
  text-align: center;
}

blockquote {
  background-color: $color-bg;
  border-left: 0.3em solid $color-secondary;
  display: block;
  margin-bottom: 1.8em;
  padding: 1.8em;
  position: relative;
}

blockquote::before {
  content: "“";
  color: rgba($color-secondary, 0.75);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 3em;
  font-style: italic;
  position: absolute;
  left: 0;
  top: 0.3em;
}

blockquote::after {
  content: none;
}

blockquote p {
  font-style: italic;
}

blockquote p:last-child {
  margin-bottom: 0;
}

table {
  width: 100%;
}

table pre {
  white-space: pre-wrap;
}

th,
td {
  font-size: 1em;
  padding: 0.7em;
  border: 1px solid $color-bg-alt;
  line-height: 1.4;
}

thead tr,
tfoot tr {
  background-color: $color-bg;
}

thead th,
thead td,
tfoot th,
tfoot td {
  font-size: 0.9em;
  padding: 0.77778em;
}

thead th code,
thead td code,
tfoot th code,
tfoot td code {
  background-color: $color-text-inverse;
}

tbody tr {
  background-color: $color-text-inverse;
}

// Syntax
code,
kbd,
samp,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  background-color: $color-bg;
  font-family: $mono;
  font-size: 0.9em;
}
code,
kbd,
samp {
  border-radius: 3px;
  padding: 0.1em 0.4em 0.2em;
  vertical-align: baseline;
}
pre {
  border-left: 0.3em solid $color-primary;
  overflow: auto;
  padding: 1em 1.2em;
}
pre code {
  background: none;
  font-size: 1em;
  line-height: 1em;
}
