{{ define "main" }}

<h1 class="post__title"><a href="{{ .URL }}">{{ .Title }}</a></h1>

{{ range (.Paginate ( where .Data.Pages "Section" "post" ).ByDate.Reverse).Pages }}
<ul class="post__list">
{{ "<!-- post -->" | safeHTML }}
<li class="post">
  <div class="post__meta">
    <time class="post__date"
          datetime="{{ dateFormat "2006-01-02" .Date }}">
      {{ dateFormat "02 Jan 2006" .Date }}
    </time>
    <p class="post__reading-time">~ {{ .ReadingTime }} minute read</p>
  </div>
  <h2 class="post__title">
    <a class="post__url"
        href="{{ .Permalink }}"
        title="{{ .Title }}">
        {{ .Title }}
    </a>
  </h2>
  <p>{{ .Description }}</p>
</li>
{{ "<!-- / post -->" | safeHTML }}
{{ end }}
</ul>

{{ "<!-- pager -->" | safeHTML }}
<div class="pager">
{{ if eq .Paginator.HasPrev true }}
<a href="{{ .Paginator.Prev.URL }}" class="pager__btn pager__btn--prev" title="Go to page {{ .Paginator.Prev.PageNumber }}">Previous page ({{ .Paginator.Prev.PageNumber }} / {{ .Paginator.TotalPages }})</a>
{{ end }}

{{ if eq .Paginator.HasNext true }}
<a href="{{ .Paginator.Next.URL }}" class="pager__btn pager__btn--next" title="Go to page {{ .Paginator.Next.PageNumber }}">Next page ({{ .Paginator.Next.PageNumber }} / {{ .Paginator.TotalPages }})</a>
{{ end }}
</div>
{{ "<!-- / pager -->" | safeHTML }}


{{ end }}