$black: #22292f;

$white: #ffffff;

$grey-1: #f8fafc;
$grey-2: #f1f5f8;
$grey-3: #dae1e7;
$grey-4: #b8c2cc;
$grey-5: #8795a1;
$grey-6: #606f7b;
$grey-7: #3d4852;

$red-1: #fcebea;
$red-2: #f9acaa;
$red-3: #ef5753;
$red-4: #e3342f;
$red-5: #cc1f1a;
$red-6: #621b18;
$red-7: #3b0d0c;

$orange-1: #fff5eb;
$orange-2: #fcd9b6;
$orange-3: #faad63;
$orange-4: #f6993f;
$orange-5: #de751f;
$orange-6: #613b1f;
$orange-7: #462a16;

$yellow-1: #fcfbeb;
$yellow-2: #fff9c2;
$yellow-3: #fff382;
$yellow-4: #ffed4a;
$yellow-5: #f2d024;
$yellow-6: #684f1d;
$yellow-7: #453411;

$green-1: #e3fcec;
$green-2: #a2f5bf;
$green-3: #51d88a;
$green-4: #38c172;
$green-5: #1f9d55;
$green-6: #1a4731;
$green-7: #0f2f21;

$teal-1: #e8fffe;
$teal-2: #a0f0ed;
$teal-3: #64d5ca;
$teal-4: #4dc0b5;
$teal-5: #38a89d;
$teal-6: #20504f;
$teal-7: #0d3331;

$blue-1: #eff8ff;
$blue-2: #bcdefa;
$blue-3: #6cb2eb;
$blue-4: #3490dc;
$blue-5: #2779bd;
$blue-6: #1c3d5a;
$blue-7: #12283a;

$indigo-1: #e6e8ff;
$indigo-2: #b2b7ff;
$indigo-3: #7886d7;
$indigo-4: #6574cd;
$indigo-5: #5661b3;
$indigo-6: #2f365f;
$indigo-7: #191e38;

$purple-1: #f3ebff;
$purple-2: #d6bbfc;
$purple-3: #a779e9;
$purple-4: #9561e2;
$purple-5: #794acf;
$purple-6: #382b5f;
$purple-7: #21183c;

$pink-1: #ffebef;
$pink-2: #ffbbca;
$pink-3: #fa7ea8;
$pink-4: #f66d9b;
$pink-5: #eb5286;
$pink-6: #6f213f;
$pink-7: #451225;

$primary: $orange-5;
$secondary: $orange;
$bg: $white;
$bg-alt: $grey-2;
$text: $grey-7;
$text-3: $grey-6;
$text-1: $grey-5;

$sans: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$serif: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida,
  DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;

$mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
