body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  height: 100vh;
  // margin-top: 0.5rem;
}

header,
footer {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

hr {
  border: none;
  display: block;
  height: 1px;
}

p > a {
  font-weight: 700;
}

figure {
  text-align: center;
}

figure:first-child {
  margin-top: 0;
}

figure:last-child {
  margin-bottom: 0;
}

figcaption {
  font-size: 0.8em;
}

table {
  margin: 1rem 0 2rem;
  width: 100%;
}

table pre {
  white-space: pre-wrap;
}

th,
td {
  border: 1px solid;
  font-size: 1em;
  padding: 0.7em;
}

thead th,
thead td,
tfoot th,
tfoot td {
  font-size: 0.9em;
  padding: 0.77778em;
}
