html {
  font-size: 1.25em; // 20px
}

body {
  font-family: $sans;
  font-weight: 400;
  line-height: 1.5;
}

p,
dl,
ol,
ul,
blockquote,
pre,
table {
  margin-bottom: 1rem;
}

p:last-child,
dl:last-child,
ol:last-child,
ul:last-child,
blockquote:last-child,
pre:last-child,
table:last-child {
  margin-bottom: 0;
}

p:empty {
  display: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2em; // 40px
  margin-top: 0;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 0.8em;
  text-transform: uppercase;
}

h5 {
  font-size: 0.6em;
}

small {
  font-size: 0.833em;
}

em {
  font-weight: 400;
}

strong {
  font-weight: 700;
}

ol,
ul {
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ol ol ol ol {
  list-style-type: lower-greek;
}

ol ol ol ol ol {
  list-style-type: decimal;
}

ol ol ol ol ol ol {
  list-style-type: lower-alpha;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

ul ul ul ul {
  list-style-type: circle;
}

ul ul ul ul ul {
  list-style-type: disc;
}

ul ul ul ul ul ul {
  list-style-type: circle;
}

blockquote {
  border-left: 0.25em solid;
  font-size: 1em;
  margin: 0;
  padding: 0.25em 1em;
}

cite {
  font-style: italic;
}

code,
kbd,
samp,
pre {
  font-size: 0.9em;
}

code,
kbd,
samp {
  border-radius: 3px;
  line-height: 1.8;
  padding: 0.1em 0.4em 0.2em;
  vertical-align: baseline;
}

pre {
  overflow: auto;
  padding: 1em 1.2em;
}

pre code {
  background: none;
  font-size: 1em;
  line-height: 1em;
}

a {
  text-decoration: none;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

ins {
  text-decoration: none;
}

sub,
sup {
  font-size: 0.8em;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}
