html {
  font-size: 1.25em; // 20px
}

body {
  font-family: $sans;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2em; // 40px
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 0.8em;
  text-transform: uppercase;
}

h5 {
  font-size: 0.6em;
}

small,
.font_small {
  font-size: 0.833em;
}

em {
  font-weight: 400;
}

strong {
  font-weight: 700;
}

blockquote {
  border-left: 0.25em solid;
  font-size: 1em;
  margin: 0;
  padding: 0.25em 1em;
}

code,
kbd,
samp,
pre {
  font-size: 0.9em;
}

code,
kbd,
samp {
  border-radius: 3px;
  line-height: 1.8;
  padding: 0.1em 0.4em 0.2em;
  vertical-align: baseline;
}

pre {
  overflow: auto;
  padding: 1em 1.2em;
}

pre code {
  background: none;
  font-size: 1em;
  line-height: 1em;
}

a {
  text-decoration: none;
}

// a:hover {
//   border-bottom: 1px solid;
// }

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

cite {
  font-style: italic;
}

ins {
  text-decoration: none;
}

sub,
sup {
  font-size: 0.8em;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}
