*::selection {
  color: $bg;
  background: $primary;
}

body {
  background: $bg;
  color: $text-light;
}

a {
  color: $primary;

  &:hover {
    color: $secondary;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $text;
}

h5 {
  color: $primary;
}

blockquote {
  border-color: $primary;
  color: $text-lightest;
}

hr {
  background: $grey-light;
}

code,
kbd,
samp,
pre {
  background-color: $bg-alt;
  color: $text-light;
}

ins {
  background-color: lime;
}

mark {
  background-color: #ff0;
}
