::selection {
  color: $bg;
  background: $primary;
}

body {
  background: $bg;
  color: $text-light;
}

a {
  color: $primary;

  &:hover {
    color: $secondary;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $text;
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

h5 {
  color: $primary;
}
