.main {
  width: 100%;
}

.main__wrapper {
  margin: 0 auto 2rem;
  max-width: 40rem;
  padding: 1rem;
}

.post__meta {
  align-items: center;
  color: $text-lightest;
  display: flex;
  font-size: 0.8rem;
  margin-top: -1rem;
}

.post__readingTime {
  margin: 0;

  padding: 0;
}
