*::selection {
  background: $primary;
  color: $bg;
}

body {
  background: $primary;
  color: $text-light;
}

header,
main,
footer {
  background: $bg;
}

.header {
  border-color: $primary;
}

a {
  color: $primary;

  &:hover {
    color: $secondary;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $text;
}

h5 {
  color: $primary;
}

blockquote {
  border-color: $primary;
  color: $text-lightest;
}

hr {
  background: $grey-light;
}

code,
kbd,
samp,
pre {
  background-color: $bg-alt;
  color: $text-light;
}

ins {
  background-color: lime;
}

mark {
  background-color: #ff0;
}

th,
td {
  border-color: $grey-light;
}

thead tr,
tfoot tr {
  background-color: $grey-lighter;
}

thead th code,
thead td code,
tfoot th code,
tfoot td code {
  background-color: $bg;
}

tbody tr {
  background-color: $bg;
}
