.archive__item {
  border-top: 0.2em solid rgba($color-primary, 0.5);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: ($lh / 2) 0;
}

.archive__link--wrapper {
  text-transform: initial;
}

.archive__link {
  font-weight: 900;
  background-image: none;
}

.archive__meta {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: $fs / $type-scale;
  font-weight: 500;
  line-height: $lh;
  margin-left: 0.25em;
  text-transform: uppercase;
}

.archive__date {
  color: $color-primary;
  display: flex;
  text-align: right;
}
