.footer {
  background: $color-text;
  color: $color-text-inverse;
  font-size: $fs;
  padding: $lh 0;
  text-align: right;
}

.footer__list {
  list-style: none;
}

.footer__item::before {
  content: "";
}
