.header {
  background: $color-text;
  color: $color-text-inverse;
  margin-top: 0.3em;
  padding: $fs;
  position: relative;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  line-height: $lh;
  align-items: flex-end;
}

@media only screen and (max-width: 600px) {
  .header__nav {
    display: block;
  }
}

.header__link {
  background-image: none;
  font-size: $fs / $type-scale;
  font-weight: 900;
  text-transform: uppercase;
  vertical-align: text-top;
  &:hover {
    background: none;
    color: $color-secondary;
  }
}

.header__logo {
  border-radius: 100%;
  display: block;
  font-size: $fs;
  height: 3em;
  width: 3em;
  margin-bottom: 0;
  overflow: hidden;
  text-align: center;
}

.header__link--logo:hover {
  background-image: none;
}

.header__list {
  display: flex;
  list-style: none;
  margin: 0;
}

.header__item {
  margin-right: $lh / 4;
}

.header .active {
  background-image: linear-gradient(
    to top,
    $color-secondary 0,
    $color-secondary 0.13169em,
    rgba(250, 117, 56, 0) 0.13169em,
    rgba(250, 117, 56, 0) 100%
  );
}
