.pager {
  border-top: 0.2em solid rgba($color-primary, 0.5);
  line-height: $fs;
  padding: $lh 0 ($lh / 2);
  text-transform: uppercase;
}

.pager__item {
  display: inline-block;

  &:before {
    content: none;
  }
}

.pager__item--prev {
  float: left;
}

.pager__item--next {
  float: right;
}

.pager__link {
  font-weight: 900;
  text-decoration: none;
}
