/* Post */
.post {
  border-top: 0.2em solid rgba($color-primary, 0.5);
  // margin: $lh 0;
  padding: ($lh / 2) 0;
}

.post > h2 {
  margin-top: 0;
}

.post__header {
  background: $color-bg;
  padding: $lh 0;
}

.post__meta {
  display: flex;
  font-weight: 900;
  justify-content: space-between;
  font-size: $fs / $type-scale;
  text-transform: uppercase;
  font-weight: 400;

  time {
    color: $color-primary;
  }
}

.post__title {
  margin: ($lh / 2) 0;
}

.post__url {
  background-image: none;
  color: $color-text;
}

.post__description {
  margin: 1em 0;
}

.post__hash {
  background-image: none;
  color: rgba($color-text, 0.25);
  margin-left: $lh / 4;
  position: absolute;
  float: left;
  right: calc(100% + 0.5em);
  top: 0;
  text-decoration: none;

  &:hover {
    background-image: none;
    color: $color-secondary;
    opacity: 1;
  }
}

.post ol {
  counter-reset: li;
}

.post ol > li {
  position: relative;
  list-style: none;
}

.post ol > li::before {
  content: counter(li);
  color: $color-primary;
  counter-increment: li;
  font-family: $mono;
  font-weight: bold;
  position: absolute;
  right: calc(100% + 0.5em);
}

.post ul > li {
  list-style: none;
  position: relative;
}

.post ul > li::before {
  content: "•";
  color: $color-primary;
  font-family: $mono;
  font-weight: bold;
  position: absolute;
  right: calc(100% + 0.5em);
}
