@import 'components/nav.css';
@import 'components/elements.css';
@import 'components/grid.css';

:focus:not(:focus-visible) {
  outline: none;
}

main a {
  @apply font-bold;
}

a:hover {
  @apply text-grey-darker;
}
