/* Base - Variables: tailwind-config.js */
/* purgecss start ignore */
@import 'tailwindcss/preflight';
/* purgecss end ignore */
@import 'tailwindcss/components';
/* Site Specific */
/* purgecss start ignore */
@import 'site';
/* purgecss end ignore */
@import 'tailwindcss/utilities';
