.nav li a {
  padding: 20px;
}

.nav .logo {
  padding: 15.5px 20px;
}

.nav .menu {
  clear: both;
  transition: max-height .2s ease-out;
}

.nav .menu-icon {
  padding: 30px 20px;
}

.navicon {
  height: 2px;
  transition: background .2s ease-out;
  width: 18px;
}

.navicon:before,
.navicon:after {
  @apply absolute bg-grey-darker block h-full w-full;
  content: '';
  transition: all .2s ease-out;
}

.navicon:before {
  top: 5px;
}

.navicon:after {
  top: -5px;
}

.nav .menu-btn:not(:checked) ~ .menu {
  display: none;
}

.nav .menu-btn:checked ~ .menu {
  display: block;
}

.nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  @apply pin-t;
}

@media (min-width: 48em) {
  .nav li a {
    padding: 20px 30px;
    padding-left: 10px;
  }
  .nav .menu {
    clear: none;
    display: block !important;
  }
}
