<nav class="header bg-white pin-t shadow">
  <a href="/" class="logo text-grey-darkest">{{ .Site.Title }}</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu bg-white">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li><a class="hover:bg-grey-lightest border-grey-lighter border-r text-grey-darkest{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} header__link--active{{end}}"
        href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
    {{ end }}
</ul>
</nav>
