{{ define "head" }}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>
{{ end }}

{{ define "main" }}
<main class="flex flex-col max-w-md mx-auto my-8 px-4 py-8 w-full">
  <h1>Home Page</h1>
  <p>Lorem ipsum dolor amet pabst food truck taiyaki semiotics, art party tacos seitan celiac skateboard. Before they sold out XOXO artisan, williamsburg palo santo air plant gochujang. Fanny pack unicorn mlkshk iPhone health goth, pinterest normcore yuccie fingerstache activated charcoal chicharrones jianbing. Waistcoat palo santo blog whatever selvage. Occupy mixtape pinterest butcher copper mug celiac, fixie forage intelligentsia YOLO tilde pitchfork schlitz. Flexitarian 8-bit PBR&B bespoke vegan occupy activated charcoal health goth cardigan jean shorts single-origin coffee wayfarers sartorial. Stumptown meditation chambray, lomo franzen craft beer palo santo.</p>
  <p>Health goth selvage helvetica keffiyeh you probably haven't heard of them intelligentsia plaid mlkshk vape occupy pitchfork adaptogen normcore gentrify swag. Hexagon hell of migas letterpress austin. Chartreuse mlkshk chicharrones, food truck normcore la croix pickled jean shorts. Trust fund small batch typewriter semiotics vice neutra raw denim.</p>
  <p>Franzen tumeric brooklyn single-origin coffee cronut cliche kickstarter sartorial stumptown. Mlkshk meggings air plant, photo booth street art letterpress you probably haven't heard of them umami selvage. Shabby chic freegan skateboard distillery umami scenester keytar lomo. Hashtag woke adaptogen, taxidermy cliche yuccie fingerstache tofu jianbing farm-to-table 3 wolf moon vape dreamcatcher meggings blue bottle. Vaporware tumeric offal, cornhole vegan four loko mixtape cray waistcoat. Messenger bag tumeric intelligentsia brooklyn 3 wolf moon.</p>
  <p>Bushwick salvia lyft, typewriter tumblr flexitarian leggings live-edge gastropub. Humblebrag ethical keffiyeh, four dollar toast gochujang blog distillery. Chillwave gentrify cornhole plaid readymade tofu pabst kale chips cold-pressed gastropub la croix humblebrag knausgaard echo park synth. Cold-pressed kitsch hella selfies, umami blue bottle affogato enamel pin gentrify meditation shoreditch lomo brunch viral post-ironic. Mumblecore pok pok selfies distillery, flexitarian organic farm-to-table lumbersexual try-hard mlkshk live-edge umami brunch biodiesel.</p>
  <p>Lo-fi cornhole keffiyeh intelligentsia cold-pressed tofu. Enamel pin master cleanse DIY asymmetrical man braid, meggings neutra church-key schlitz helvetica taxidermy cronut pinterest 3 wolf moon. Bespoke pickled sustainable direct trade drinking vinegar mlkshk. Activated charcoal cold-pressed air plant, paleo forage af man bun pinterest cliche green juice chillwave tofu narwhal XOXO.</p>
</main>
{{ end }}

{{ define "script" }}
<script async>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}
